<div class="container">
  <h1>Recherche un covoiturage</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Ville de départ</label>
      <input type="text" class="form-control" [(ngModel)]="villeDepart" name="villeDepart" required>
    </div>

    <div class="form-group">
      <label>Ville d'arrivée</label>
      <input type="text" class="form-control" [(ngModel)]="villeArrivee" name="villeArrivee" required>
    </div>

    <div class="form-group">
      <label>Date de départ</label>
      <input type="date" class="form-control" [(ngModel)]="dateDepart" name="dateDepart" required>
    </div>

   

    <button type="submit" class="btn btn-primary">Rechercher</button>
  </form>

  <div *ngIf="searchResults">
    <h2>Résultats de la recherche</h2>
    <ul>
      <li *ngFor="let covoiturage of searchResults">
        {{ covoiturage.villeDepart }} - {{ covoiturage.villeArrivee }} le {{ covoiturage.date }} le {{ covoiturage.prixMax}}
      </li>
    </ul>
  </div>
  </div>
