<div class="container">
  <h1>Connexion</h1>
  <form (ngSubmit)="onSubmit()" #inscriptionForm="ngForm">
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" required [(ngModel)]="utilisateur['email']" name="email" />
    </div>

    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" required [(ngModel)]="utilisateur['password']" name="password" />
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>
  </form>

  <p>{{message}}</p>
</div>