.navbar-dark {
    background-color: #333; /* Couleur de fond de la barre de navigation */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Couleur du texte des liens */
    font-size: 18px; /* Taille de police des liens */
    text-transform: uppercase; /* Mettre le texte en majuscules */
    padding: 0.5rem 1rem; /* Ajouter de l'espace autour des liens */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ff0; /* Couleur du texte des liens au survol de la souris */
  }
  
  .navbar-brand {
    color: #fff; /* Couleur du texte du logo */
    font-size: 24px; /* Taille de police du logo */
    text-transform: uppercase; /* Mettre le texte en majuscules */
  }
  
  .navbar-toggler {
    border-color: #fff; /* Couleur de la bordure du bouton de menu */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Couleur de l'icône du bouton de menu */
  }
  